{% extends 'base.html' %}
{% block title %}index{% endblock %}

{% block content %}
{% if object_list %}
    <div class="row">
        <h3><b>Current darts</b></h3>
    </div>
    <div class="row">
    {% for player in object_list %}
        <div class="card" style="width: 18rem;">
            {% if player.picture %}
                <img class="card-img-top" title="Detail" src="{{ player.picture.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a class="" href="{{ player.get_absolute_url }}" title="Detail">{{ player.name }}</a></h5>
                <!-- View Details -->
                <a href="{{ player.get_absolute_url }}" role="button">
                    <i class="fas fa-info-circle" title="Detail"></i> Detail
                </a>
                <!-- Update Player -->
                <a href="{% url 'PlayersManagement:UpdatePlayer' id=player.id slug=player.slug %}"role="button">
                    <i class="fas fa-edit" title="Edit"></i> Edit
                </a>
                <!-- Delete Player -->
                <a href="{% url 'PlayersManagement:DeletePlayer' id=player.id slug=player.slug %}" role="button">
                    <i class="fas fa-trash-alt" title="Delete"></i> Delete
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}
<!-- Add Player -->
<div class="col">
    <a href="{% url 'PlayersManagement:CreatePlayer' %}" role="button">
        <i class="fas fa-plus-square fa-w-14" title="Add a New Player"></i> Add new darts
    </a>
</div>
</div>
{% endblock %}
