.success {
    color: green;
}
.error {
    color: red;
}

footer {
    background-color: #efefef;
    color: black;
}

.btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

a {
    color: #4d4d4d;
    padding-right: 1em;
}
a:hover {
    color: black;
}

table.dataTable thead .sorting_asc {
  background: url("https://cdn.datatables.net/1.10.24/images/sort_asc.png") no-repeat center left;
}
table.dataTable thead .sorting_desc {
  background: url("https://cdn.datatables.net/1.10.24/images/sort_desc.png") no-repeat center left;
}
table.dataTable thead .sorting {
  background: url("https://cdn.datatables.net/1.10.24/images/sort_both.png") no-repeat center left;
}
