{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">File</th>
            <th scope="col">Number of downloads</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for f in allfiles %}
        <tr>
            <td><a title="download" href="{{ f.get_absolute_url }}">{{ f.filename }}</a></td>
            <td>{{ f.timesdownloaded }}</td>
            <td><small>{{ f.timestamp }}</small></td>
            <td><a title="delete" class="btn btn-secondary btn-sm" href="{% url "scoretable:deletezip" f.id %}"><span class="fas fa-trash-alt"></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}