{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-lg-6">
            <h3>Games</h3>
            <table class="table" id="games_table">
                <thead>
                <tr>
                    {% for s in headerrank %}
                        <th scope="col">{{ s }}</th>
                    {% endfor %}
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for k, r in maintable.items %}
                    <tr>
                        {% for s in r %}
                            <td>{{ s }}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url "scoretable:editgame" k %}" class="btn btn-light btn-sm" role="button">
                                <i class="fas fa-edit" title="edit" aria-hidden="true"></i>
                            </a>
                            <a href="{% url "scoretable:deletegame" k %}" class="btn btn-light btn-sm" role="button" onclick="return confirm('Are you sure?')">
                                <i class="far fa-trash-alt" title="delete" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="col-sm-1">
    </div>
        <div class="col-lg-5">
            <h3>{{ stable_title }}</h3>
            <table class="table" id="standing_table">
                <thead>
                <tr>
                    {% for s in headersummary %}
                        <th scope="col">{{ s }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for r in summarytable %}
                    <tr>
                        {% for s in r %}
                            <td>{{ s }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock content %}

{% block js %}
    <script src="{% static 'scoretable/datatables.js' %}"></script>
{% endblock js %}


