{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}LGdartsDBweb{% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/rr-1.2.7/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static '' %}">
</head>

<body>

{% include 'navbar.html' %}

<main role="main" class="container-fluid">
{% include 'messages_display.html' %}
    {% block content %}

    {% endblock %}
</main> <!-- /container -->

{#{% include 'footer.html' %}#}
<div class='container-fluid'>
    <footer>
        <hr>
        <p>&copy; 2018 Luc Galarneau</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block js %}
{% endblock js %}
</body>
</html>
